@import "../variables/appearance";
@import "../functions/spacing";

$select-border-width: $border-width !default;
$select-border-radius: $border-radius !default;
$select-padding: spacing(tight) !default;

$select-icon: "data:image/svg+xml;charset=utf8,%3Csvg%20xmlns='http://www.w3.org/2000/svg'%20viewBox='0%200%204%205'%3E%3Cpath%20fill='currentColor'%20d='M2%200L0%202h4zm0%205L0%203h4z'/%3E%3C/svg%3E" !default;
$select-icon-width: 0.75em !default;
$select-icon-padding: 0.5em !default;
