@import "./variables";
@import "../functions/maps";

// Credit: https://css-tricks.com/html5-progress-element/
.progress,
.progress[value] {
  appearance: none;
  background-color: map-get-deep($progress-colors, default, bg);
  border: 0;
  border-radius: $progress-border-radius;
  color: rgb(220, 222, 252);
  // height: $grid-size / 2;
  // position: relative;
  // width: 100%;

  &::-webkit-progress-bar {
    // background-color: map-get-deep($progress-colors, default, bg);
    background-color: map-get-deep($progress-colors, default, bg);
    border-radius: $border-radius;
    box-shadow: none;
  }

  &::-webkit-progress-value {
    // background-color: map-get-deep($progress-colors, default, bg);
    background-color: map-get-deep($progress-colors, default, value);
    border-radius: $border-radius;
  }

  &::-moz-progress-bar {
    background-color: map-get-deep($progress-colors, default, value);
    border-radius: $border-radius;
  }

  // &:indeterminate {
  //   animation: spacekit-progress-indeterminate 1.5s linear infinite;
  //   background-color: $color-background-muted
  //     linear-gradient(
  //       to right,
  //       $color-intent-primary 30%,
  //       $color-background-muted 30%
  //     )
  //     top left / 150% 150% no-repeat;

  //   &::-moz-progress-bar {
  //     background-color: transparent;
  //   }
  // }
}

// @keyframes spacekit-progress-indeterminate {
//   0% {
//     background-position: 200% 0;
//   }
//   100% {
//     background-position: -200% 0;
//   }
// }
