@import "../functions/spacing";

.form-control {
}

.form-control__label {
  display: block;
}

.form-control__label + .form-control__input {
  margin-top: spacing(tight);
}

.form-control__input {
  width: 100%;
}
