@import "../variables/appearance";
@import "../functions/spacing";

$input-border-width: $border-width !default;
$input-border-radius: $border-radius !default;
$input-padding: spacing(tight) !default;
$input-intents: (success, danger, warning) !default;
