@import "../functions/color";

.text--align-center {
  text-align: center;
}

.text--align-left {
  text-align: left;
}

.text--align--right {
  text-align: right;
}

.text--muted {
  color: color(text, muted);
}
