$unit: 0.25rem !default;

$spacing: (
  none: 0,
  unit: $unit,
  extra-tight: $unit * 1,
  tight: $unit * 2,
  base: $unit * 4,
  medium: $unit * 6,
  loose: $unit * 10,
  extra-loose: $unit * 12
) !default;
