// All files in this directory are manually forked from Bootstrap which is in
// turn forked from Normalize.
// Bootstrap is licensed MIT. https://github.com/twbs/bootstrap
// Normalize is licensed MIT. https://github.com/necolas/normalize.css

@import "../variables/typography";

pre,
code,
kbd,
samp {
  font-family: $font-family-monospace;
  font-size: 1em;
}

pre {
  margin-top: 0;
  margin-bottom: $paragraph-margin-bottom;
  overflow: auto;
  -ms-overflow-style: scrollbar;
}
