// All files in this directory are manually forked from Bootstrap which is in
// turn forked from Normalize.
// Bootstrap is licensed MIT. https://github.com/twbs/bootstrap
// Normalize is licensed MIT. https://github.com/necolas/normalize.css

@import "../variables/appearance";

a {
  color: $link-color;
  text-decoration: $link-decoration;
  background-color: transparent;

  &:hover,
  &:focus {
    color: $link-hover-color;
    text-decoration: $link-hover-decoration;
  }
}

a:not([href]):not([tabindex]) {
  color: inherit;
  text-decoration: none;

  &:hover,
  &:focus {
    color: inherit;
    text-decoration: none;
  }

  &:focus {
    outline: 0;
  }
}
