// All files in this directory are manually forked from Bootstrap which is in
// turn forked from Normalize.
// Bootstrap is licensed MIT. https://github.com/twbs/bootstrap
// Normalize is licensed MIT. https://github.com/necolas/normalize.css

table {
  border-collapse: collapse;
}

caption {
  text-align: left;
  caption-side: bottom;
}

th {
  text-align: inherit;
}
